{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1 class="text-primary text-center mt-5 pt-5">{% trans %}Payement Method{% endtrans %}</h1>

        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% if methods %}
            <h2>{% trans %}Choose your favorite payment method for a plan {% endtrans %}<span class="text-primary"> {{ plan.title }}</span></h2>
            <div class="row">
                <form action="{{ path('plan_subscribe', {'slug': plan.slug}) }}" method="post">
                    {% for method in methods %}
                       <div class="col col-md-4 col-sm-6 col-12">
                           <div class="card">
                               <div class="card-body">
                                   <input type="hidden" name="method" value="{{ method.stripeId }}">
                                   <h5 class="card-title">{{ method.cardNames }}</h5>
                                   <p>###{{ method.cardNumber | slice(0,8) }}###</p>
                                   <p>{{ method.cardMonth }}/{{ method.cardYear }}</p>
                                   <p>***</p>
                                   <button type="submit" class="btn btn-success">{% trans %}Choose this!{% endtrans %}</button>
                               </div>
                           </div>
                       </div>
                    {% endfor %}
                </form>
            </div>
        {% else %}
            {{ form_start(form) }}
            <div class="row">
                <div class="col col-md-6">
                    {{ form_rest(form) }}
                </div>
                <div class="col col-12">
                    <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    <a href="{{ path('professional_profile') }}" class="btn btn-secondary">{% trans %}Back to Profile{% endtrans %}</a>
                </div>
            </div>
            {{ form_end(form) }}
        {% endif %}

    </section>
{% endblock %}

{% block title %}{% trans %}Edit Payement Method{% endtrans %}{% endblock %}

