<h1>{% trans %}Hi! {% endtrans %} {{ client.name }},</h1>
<div>
    <p>{% trans %}Once again thanks to you for being our user during all this time{% endtrans %}</p>
    <p>{% trans %}We hope than you found your solution{% endtrans %}</p>
    <p>{% trans %}Great, see you there!{% endtrans %}</p>
</div>