<h1>{% trans %}Hi! {% endtrans %} {{ client.name }}, {% trans %} Welcome{% endtrans %}</h1>
<div>
    <p>{% trans %}We welcome you and we wish than you are going to find what it through you to this platform. {% endtrans %}</p>
    <p>{% trans %}Great, see you there!{% endtrans %}</p>
</div>