{% extends 'base.html.twig' %}

{% block title %}{% trans %}Log in!{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5 pt-5">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {% trans %}You are logged in as {% endtrans %}{{ app.user.username }}, <a href="{{ path('app_logout') }}">{% trans %}Logout{% endtrans %}</a>
                </div>
            {% endif %}

            <h1 class="h3 mb-3 font-weight-normal">{% trans %}Please sign in{% endtrans %}</h1>
            <label for="inputEmail">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="checkbox mb-3">
                <label><input type="checkbox" name="_remember_me">{% trans%}Remember me{% endtrans %}</label>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">{% trans %}Sign in{% endtrans %}</button>
            <a href="{{ google_url.targetUrl }}" class="btn btn-danger btn-lg">
                <div class="d-flex flex-md-row align-items-center">
                    <i class="fab fa-google"></i>
                    <span style="margin-left: .5rem;">
                        {% trans %}Sign by Google{% endtrans %}
                    </span>
                </div>
            </a>
            <a href="{{ path('app_register') }}" class="btn btn-secondary btn-lg">{% trans %}Register{% endtrans %}</a>
        </form>
    </div>

{% endblock %}
