<form method="post" action="{{ path('professional_domaine_delete', {'slug': domaine.slug}) }}"
      onsubmit="return confirm('Are you sure you want delete as domaine?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ domaine.slug) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
