{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}
<section class="home">
    <div class="header p-5 bg-secondary text-white">

        <div class="title p-5 mt-5 mb-5">
            <h1 class="p-5 text-center">{% trans %}Search your Professional within hesitation{% endtrans %}</h1>
        </div>

        <div style="max-width: 600px; margin: 0 auto;" class="search d-flex flex-column justify-content-center align-items-center">
            <form action="" class="form-group" method="get">
                <div class="input-group mb-3">
                    <input type="text" name="domaine" class="form-control" placeholder="{% trans %}Domaine{% endtrans %}" aria-label="Username">
                    <input type="text" name="location" class="form-control" placeholder="{% trans %}Location{% endtrans %}" aria-label="Server">
                    <button name="search_btn" class="btn btn-dark">{% trans %}Search{% endtrans %}</button>
                </div>
            </form>
        </div>
    </div>

    <div class="content">
        <div class="container p-2">

            <div class="content-inner">
                <div class="row">
                    {% if professionals %}
                        <div class="content-title">
                            <h2 class="text-center">List of Professionals</h2>
                        </div>
                    {% endif %}
                    {% for professional in professionals %}
                        <div class="col col-md-4">
                            <div class="card" >
                                <img src="{{ asset('assets/images/professional/profs.jpg') }}" class="card-img-top" alt="image from pexel">
                                <div class="card-body">
                                    <h5 class="card-title">{{ professional.name|upper }} {{ professional.lastname|capitalize }}</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="{{ path('visitor_professional_profile', {'slug': professional.slug}) }}" class="btn btn-primary">{% trans %}Details{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col col-md-12">
                            <h2 class="text-center text-primary">{% trans %}Article about this web application{% endtrans %}</h2>
                            <div class="">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus facere maiores pariatur. Aperiam dicta enim explicabo molestiae natus. Aspernatur beatae dignissimos dolore dolorem, ea eum quia tempore velit vero voluptas!</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus facere maiores pariatur. Aperiam dicta enim explicabo molestiae natus. Aspernatur beatae dignissimos dolore dolorem, ea eum quia tempore velit vero voluptas!</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
