{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1>{% trans %}Register as  Client{% endtrans %}</h1>

        {{ form_start(UserForm) }}
            <div class="col col-12">
                <h3 class="mt-3">{% trans %}Personal Information{% endtrans %}</h3>
                {{ form_start(ClientForm) }}
                    {{ form_rest(ClientForm) }}
                {{ form_start(ClientForm) }}
            </div>

            <h3 class="mt-4">{% trans %}Sign In Information{% endtrans %}</h3>
            {{ form_row(UserForm.email) }}
                {{ form_row(UserForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(UserForm.agreeTerms) }}

                <button type="submit" class="btn btn-success">{% trans %}Register{% endtrans %}</button>
                <a href="{{ path('app_register_professional') }}" class="btn btn-outline-primary">{% trans %}I'm professional{% endtrans %}</a>
            {{ form_end(UserForm) }}
    </div>

{% endblock %}
