{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #register_professional_js {
            display: none;
        }

        #siret_return_message_js {
            display: none;
        }
    </style>

{% endblock %}
{% block body %}

    <div class="container mt-5  pt-5">

        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="alert" role="alert" id="siret_return_message_js"></div>

        <h1>{% trans %}Register as  Professional{% endtrans %}</h1>

        <div class="siret_checker">
            <div class="col col-md-12">
                <h3>{% trans %}Verify your SIRET CODE{% endtrans %}</h3>
                <form action="{{ path('siret_checker') }}" method="post" id="siret_checker_js">
                    <input value="89296331500015" type="text" class="form-control" name="siret" id="siret" placeholder="Siret code ex: 88254332500014">
                    <button type="submit" class="btn btn-success">{% trans %}Verify{% endtrans %}</button>
                </form>
            </div>
        </div>

        <div class="register" id="register_professional_js" style="{% if siret %}display:block;{% endif %}">
            {{ form_start(UserForm) }}
            <div class="col col-12">
                <h3 class="mt-3">{% trans %}Personal Information for {% endtrans %} <span id="prof_siret_denomination"></span></h3>
                {{ form_start(ProfForm) }}
                {{ form_rest(ProfForm) }}
                {{ form_start(ProfForm) }}
            </div>
            <h3 class="mt-4">{% trans %}Sign In Information{% endtrans %}</h3>
            <div class="col col-md-12">
                <input type="text" name="siret" id="siret_js" hidden>
                {{ form_row(UserForm.email) }}
                {{ form_row(UserForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(UserForm.agreeTerms) }}

                <button type="submit" class="btn btn-success">{% trans %}Register{% endtrans %}</button>
                <a href="{{ path('app_register') }}" class="btn btn-outline-primary">{% trans %}I'm Client{% endtrans %}</a>
            </div>
            {{ form_end(UserForm) }}
        </div>

    </div>

{% endblock %}
