<form method="post" action="{{ path('client_event_remove', {'id':event.id}) }}"
      onsubmit="return confirm('Are you sure you want Unsubscribe as Client?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
