{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <section class=" container p-5 client-appointment mt-5">

        {% for warning in app.flashes('warning') %}
            <div class="alert alert-warning" role="alert">{{ warning }}</div>
        {% endfor %}

        <div class="title mt-5 p-8">
            <h1 class="text-center">
                {% trans %}Having an appointment with {% endtrans %}
                {{ professional.name| upper }} {{ professional.lastname|capitalize }}
            </h1>
        </div>
        {% if events %}
            <div class="withoutReact">
                <h2 class="text-center">{% trans %}Chose your Time{% endtrans %}</h2>
                <div class="row">
                    <div class="col col-md-6">
                        <form class="" action="{{ path('client_event_appointment', {'slug': professional.slug}) }}" method="post">
                            <select class="form-control" name="event" id="event" required>
                                {% for event in events %}
                                    <option value="{{ event.id }}">{{ event.startAt | date ('D-m-Y H:i') }} - {{ event.endAt | date ('D-m-Y H:i') }}</option>
                                {% endfor %}
                                <input type="hidden" name="_token" value="{{ csrf_token('appointment' ~ professional.slug) }}">
                            </select>
                            <textarea class="form-control" name="reason" id="reason" cols="30" rows="4" placeholder="{% trans %}Give him/her your motif for this appointment{% endtrans %}" required></textarea>
                            <button type="submit" class="btn btn-success">{% trans %}Confirme{% endtrans %}</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <h4 class="text-primary">
                {% trans %}Oops! Unfortunately, we found no chrono. Go check other Professional.{% endtrans %}
            </h4>
        {% endif %}
        <div id="root_react_js"></div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('react') }}
{% endblock %}