{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">
        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-center text-primary">{% trans %}Cancel this Event{% endtrans %}</h1>

        <div class="profile">
            <h4>{% trans %}Give us some justification, please.{% endtrans %}
            {% if isPro is defined %}
                <form action="{{ path('professional_event_cancel', {'id': event.id}) }}" method="post">
            {% elseif isClient is defined %}
                <form action="{{ path('client_event_cancel', {'id': event.id}) }}" method="post">
            {% endif %}
                    <textarea class="form-control" name="reason" id="reason" cols="30" rows="4" placeholder="Because, I will be absent" required></textarea>
                <div class="d-flex flex-row">
                    <button class="btn btn-success">{% trans %}Validate{% endtrans %}</button>
                    <a href="{{ path('client_event_index') }}"
                       class="btn btn-outline-dark">{% trans %}Back to Events list{% endtrans %}</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
