{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">
        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-center text-primary">{% trans %}Welcome on your profile{% endtrans %}</h1>

        <div class="profile">
            <ul class="list-group">

                <div class="row">
                    <div class="col col-md-12">
                        <table class="table">

                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">{% trans %}Start{% endtrans %}</th>
                                    <th scope="col">{% trans %}End{% endtrans %}</th>
                                    <th scope="col">{% trans %}Professional{% endtrans %}</th>
                                    <th scope="col">{% trans %}Status{% endtrans %}</th>
                                    <th scope="col">{% trans %}Actions{% endtrans %}</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for event in events %}
                                    <tr>
                                        <th scope="row">{{ event.id }}</th>
                                        <td>{{ event.startAt| date("d-m-Y H:i") }}</td>
                                        <td>{{ event.endAt| date("d-m-Y H:i") }}</td>
                                        <td> {% if event.professional %}{{ event.professional.name | upper }}{% else %}Empty{% endif %}</td>
                                        <td>
                                            {% if not event.validatedAt %}
                                                <span class="text-danger">{% trans %}No confirmed{% endtrans %}</span>
                                            {% else %}
                                                <span class="text-success">{% trans %}Confirmed{% endtrans %}</span>
                                            {% endif %}
                                        </td>
                                        <td class="input-group">
                                            {% if event.client and event.isAborted %}
                                                {% include 'client/event/_delete.html.twig' %}
                                            {% else %}
                                                <a href="{{ path('client_event_cancel', {'id': event.id }) }}" class="btn btn-warning">{% trans %}Cancel{% endtrans %}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>

                        </table>

                    </div>
                </div>
            </ul>

        </div>
    </div>

{% endblock %}
