{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1 class="text-primary text-center mt-5 pt-5">
            {% if button == "Save" %}
                {% trans %}Edit Event{% endtrans %}
            {% else %}
                {% trans %}Create a new Event{% endtrans %}
            {% endif %}
        </h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col col-md-6">
                {{ form_rest(form) }}
            </div>
            <div class="col col-md-6">
                {% if event.isAborted %}
                    <h4>{% trans %}Reason, why this appointment was Canceled{% endtrans %}</h4>
                    <p>{{ event.reason }}</p>
                {% endif %}
            </div>
            <div class="col col-12 d-flex flex-row">
                <button type="submit" class="btn btn-success">{{ button }}</button>
                <a href="{{ path('client_profile') }}" class="btn btn-secondary">{% trans %}Back to Profile{% endtrans %}</a>
            </div>
        </div>
        {{ form_end(form) }}
        {% include "event/_delete.html.twig" %}
    </section>
{% endblock %}

{% block title %}
    {% if button == "Save" %}
        {% trans %}Edit Event{% endtrans %}
    {% else %}
        {% trans %}Create a new Event{% endtrans %}
    {% endif %}
{% endblock %}

