{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">

        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-center text-primary">{% trans %}Welcome on your profile{% endtrans %} {{ professional.name }}</h1>

        <div class="profile">
            <div class="col col-12">
                <a href="{{ path('professional_event_index') }}" class="btn btn-success">{% trans %}Agenda{% endtrans %}</a>
            </div>
            <ul class="list-group">
    
                <div class="row">

                    <div class="col col-md-6">

                       <div class="login">
                           <h3 class="mt-6 mb-2">{% trans %}Login informations{% endtrans %}</h3>
                           <li class="list-group-item">Email : {{ professional.user.email }}</li>
                           <li class="list-group-item">Password : {{ professional.user.password | slice(0,10)~'...'  }}</li>

                           <div class="col col md-12">
                               <a href="{{ path('user_edit') }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                               {% include "professional/_delete.html.twig" %}
                           </div>
                       </div>

                        <div class="professional">
                            <h3 class="mt-5 mb-2">{% trans %}Personal informations{% endtrans %}</h3>
                            <li class="list-group-item">Name : {{ professional.name }}</li>
                            <li class="list-group-item">Lastname : {{ professional.lastname }}</li>
                            <li class="list-group-item">Born on : {{ professional.birthday|date('d/m/Y') }}</li>
                            <li class="list-group-item">Sex : {% if professional.sex == 0 %}Man {% else %}Woman{% endif %}</li>

                            <h3 class="mt-5 mb-2">{% trans %}Professional informations{% endtrans %}</h3>
                            <li class="list-group-item">Siret : {{ professional.siret }}</li>
                            <li class="list-group-item">State : {% if professional.isActif == 1 %}<span class="text-success">{% trans %}Active{% endtrans %}</span> {% else %}<span class="text-danger">{% trans %}Deactivated{% endtrans %}</span>{% endif %}</li>

                            <h3 class="mt-5 mb-2">{% trans %}Personal Address{% endtrans %}</h3>
                            {% if professional.address %}
                                <li class="list-group-item">{{ professional.address.address }}</li>
                                <li class="list-group-item">{{ professional.address.zipcode }}, {{ professional.address.city }}</li>
                            {% endif %}
                            <div class="col col md-12">
                                <a href="{{ path('professional_profile_edit', {'slug': professional.slug}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                {% include "professional/_delete.html.twig" %}
                            </div>
                        </div>

                        <div class="address">
                            <h3 class="mt-5 mb-2">{% trans %}Addresses{% endtrans %} <a href="{{ path('address_new') }}" class="btn btn-success">Add</a></h3>
                            {% for address in professional.addresses %}
                                <adress>
                                    {{ address.address }}<br>
                                    {{ address.zipcode }}, {{ address.city }} <br>
                                    {{ address.complementProf }}<br>
                                    {{ address.transportIndicationProf }}<br>
                                </adress>
                                <div class="col col-md-6">
                                    <a href="{{ path('address_edit', {'id': address.id }) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                </div>
                                <div class="col col-md-6">
                                    {% include "address/_delete.html.twig" %}
                                </div>
                            {% endfor %}
                        </div>

                        <div class="contact">
                            <h3 class="mt-5 mb-2">{% trans %}Contact informations {% endtrans %} <a href="{{ path('contact_new') }}" class="btn btn-success">Add</a></h3>
                            {% for contact in professional.contacts %}
                                <div class="mt-2 mb-2">
                                    <li class="list-group-item">Email : {{ contact.email }}</li>
                                    <li class="list-group-item">Site : {{ contact.site }}</li>
                                    <li class="list-group-item">Mobile : {{ contact.mobile }}</li>
                                    <li class="list-group-item">Fixe : {{ contact.fixe }}</li>
                                    <li class="list-group-item">Fax : {{ contact.fax }}</li>
                                </div>
                                <div class="col col md-12">
                                    <a href="{{ path('contact_edit', {'slug': contact.slug }) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                    {% include "professional/contact/_delete.html.twig" %}
                                </div>
                            {% endfor %}
                        </div>

                    </div>

                    <div class="col col-md-6">

                        <div class="domaine">

                            <h3 class="mt-5 mb-2">{% trans %}Domaine informations{% endtrans %}<a href="{{ path('professional_domaine_new') }}" class="btn btn-success">Add</a></h3>
                            {% for domaine in professional.domaines %}
                                <div class="mt-2 mb-2">
                                    <li class="list-group-item">Domaine : {{ domaine.domaine }}</li>
                                    <li class="list-group-item">Description : {{ domaine.description }}</li>
                                    <div class="col col md-12">
                                        <a href="{{ path('professional_domaine_edit', {'slug': domaine.slug}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                        {% include "professional/domaine/_delete.html.twig" %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="experience">
                            <h3 class="mt-5 mb-2">{% trans %}Experience informations{% endtrans %}<a href="{{ path('professional_Experience_new') }}" class="btn btn-success">Add</a></h3>
                            {% for experience in professional.experiences %}
                                <div class="mt-2 mb-2">
                                    <li class="list-group-item">Start : {{ experience.startAt | date('d-m-Y') }} - {{ experience.endAt | date('d-m-Y') }}</li>
                                    <li class="list-group-item">Description : {{ experience.description }}</li>
                                    <li class="list-group-item">Location : {{ experience.location }}</li>
                                    <div class="col col md-12">
                                        <a href="{{ path('professional_Experience_edit', {'slug': experience.slug}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                        {% include "professional/experience/_delete.html.twig" %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <div class="holiday">

                            <h3 class="mt-5 mb-2">{% trans %}Holiday informations{% endtrans %}<a href="{{ path('professional_holiday_new') }}" class="btn btn-success">Add</a></h3>
                            {% for holiday in professional.holidays %}
                                <div class="mt-2 mb-2">
                                    <li class="list-group-item">Start : {{ holiday.startAt| date("d-m-Y") }} - {{ holiday.endAt |date('d-m-Y') }}</li>
                                    <li class="list-group-item">Description : {{ holiday.description }}</li>
                                    <div class="col col md-12">
                                        <a href="{{ path('professional_holiday_edit', {'id': holiday.id}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                        {% include "professional/holiday/_delete.html.twig" %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="diploma">
                            <h3 class="mt-5 mb-2">{% trans %}Diploma informations{% endtrans %}<a href="{{ path('professional_diploma_new') }}" class="btn btn-success">Add</a></h3>
                            {% for diploma in professional.diplomas %}
                                <div class="mt-2 mb-2">
                                    <li class="list-group-item">Title : {{ diploma.title }}</li>
                                    <li class="list-group-item">Year : {{ diploma.year }}</li>
                                    <li class="list-group-item">University : {{ diploma.university }}</li>
                                    <li class="list-group-item">City : {{ diploma.city }}</li>
                                    <div class="col col md-12">
                                        <a href="{{ path('professional_diploma_edit', {'id': diploma.id}) }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                        {% include "professional/diploma/_delete.html.twig" %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                        <div class="plan">
                            <h3 class="mt-5 mb-2">{% trans %}Plan informations{% endtrans %}</h3>
                            <a href="{{ path('plan_index') }}" class="btn btn-success">{% if professional.plan %}{% trans %}Change your plan{% endtrans %}{% else %}{% trans %}Subscribe now!{% endtrans %}{% endif %}</a>
                            {% if professional.plan %}
                                <li class="list-group-item">Subscribed on plan : {{ professional.plan }}</li>
                                <li class="list-group-item">Price : {{ professional.plan.price }}€ / {{ professional.plan.intervale|capitalize }}</li>
                                <li class="list-group-item">Subscribed on plan : {{ professional.plan.description }}</li>
                                <div class="col col md-12">
                                    <a href="" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                    <a href="{{ path('plan_unsubscribe', {'slug': professional.plan.slug}) }}" class="btn btn-danger">{% trans %}Unsubscribe{% endtrans %}</a>
                                </div>
                            {% else %}
                                <p>{% trans %}No plan found{% endtrans %}</p>
                            {% endif %}
                        </div>

                        <div class="planning">
                            <h3 class="mt-5 mb-2">{% trans %}Planning informations{% endtrans %}</h3>
                            <a href="{{ path('professional_planning_new') }}" class="btn btn-success">{% if professional.plan %}{% trans %}Planning your days{% endtrans %}{% else %}{% trans %}Subscribe now!{% endtrans %}{% endif %}</a>

                            {% if professional.plannings | length > 0 %}
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">{% trans %}Days{% endtrans %}</th>
                                            <th scope="col">{% trans %}Morning{% endtrans %}</th>
                                            <th scope="col">{% trans %}Afternoon{% endtrans %}</th>
                                            <th scope="col">{% trans %}Actions{% endtrans %}</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for planning in professional.plannings %}
                                            <tr>
                                                <td>{{ planning }}</td>
                                                <td>{{ planning.startPmAt | date("h:i") }} {% trans %}to{% endtrans %} {{ planning.endPmAt| date("h:i")  }}</td>
                                                <td>{{ planning.startAmAt | date("h:i") }} {% trans %}to{% endtrans %} {{ planning.endAmAt| date("h:i")  }}</td>
                                                <td class="d-flex flex-row">
                                                    <a href="{{ path('professional_planning_edit', {'slug': planning.slug}) }}" class="btn btn-primary">Edit</a>
                                                    {% include 'professional/planning/_delete.html.twig' %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>{% trans %}No planning found{% endtrans %}</p>
                            {% endif %}
                        </div>

                        <div class="google_in_export">
                            <h3 class="mt-5 mb-2">{% trans %}Export/Import from Google Agenda{% endtrans %}</h3>
                            <a href="{{ path('calendar') }}" class="btn btn-danger">
                                {% trans %}Import{% endtrans %}
                            </a>
                        </div>

                    </div>
                </div>
            </ul>
        </div>

    </div>

{% endblock %}
