{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css">
{% endblock %}
{% block body %}
    <section class="home">

        <div class="header bg-secondary text-white pt-5">
            <div class="row p-5 ">
                <div class="col col-md-4">
                    <div class="card">
                        <img src="{{ asset('assets/images/professional/profs.jpg') }}" class="card-img-top" alt="image from pexel">
                    </div>
                </div>

                <div class="col col-md-8">
                    <div class="title p-5 text-center">
                        <h1 class="text-center">{% trans %}Welcome in my profile. Don't hesitation to contact me directly and to leave message below{% endtrans %}</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam aspernatur cumque deleniti error, eum facilis, fugiat ipsam laboriosam, nam obcaecati perferendis quasi quia quisquam saepe sit soluta veritatis.</p>
                        <!-- Button trigger modal -->

                        {% if is_granted('ROLE_USER') and app.user.client.paymentMethod %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#appointment">
                                {% trans %}Get your appointment now{% endtrans %}
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#paymentmethod">
                                {% trans %}You have to add payment method before this operation{% endtrans %}
                            </button>
                        {% endif %}
                        <a href="" class="btn btn-outline-primary text-white">{% trans %}Contact me!{% endtrans %}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content pb-5">
            <div class="container p-2">
                <div class="content-title">
                    <h2 class="text-center">{% trans %}Detail of professional{% endtrans %}</h2>
                </div>

                <div class="content-inner">
                    <div class="row">
                        <div class="col col-md-4 mt-5">
                            <div class="personal">
                                <h3>{% trans %}Personal information{% endtrans %}</h3>
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ professional.name }}</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        {% for planning in professional.plannings %}
                                            <li class="list-group-item">{{ planning }} : {{ planning.startPmAt | date("h:i") }} {% trans %}to{% endtrans %} {{ planning.endPmAt| date("h:i")  }}</li>
                                        {% endfor %}
                                        <!-- Button trigger modal -->
                                        {% if is_granted('ROLE_CLIENT') or is_granted('ROLE_PROFESSIONAL') %}
                                            {% if app.user.client.paymentMethod %}
                                                <a href="{{ path('client_event_appointment', {'id':app.user.client.id, 'slug': professional.slug}) }}" class="btn btn-success" >
                                                    {% trans %}Have an appointment{% endtrans %}
                                                </a>
                                            {% else %}
                                                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#paymentmethod">
                                                    {% trans %}Add your payment method after to take an appointment{% endtrans %}
                                                </button>
                                            {% endif %}
                                        {% else %}
                                            <a href="{{ path('app_login') }}" class="btn btn-success" >
                                                {% trans %}Login{% endtrans %}
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col col-md-4 mt-5">
                            <div class="personal">
                                <h3>{% trans %}Experience information{% endtrans %}</h3>
                                <div class="card">
                                    <ul>
                                        {% for experience in professional.experiences %}
                                            <li class="list-group-item">{{ experience.description}}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!--FULL CALENDAR-->
                        <div class="col col-md-4 col-sm-12 col-12">
                            <div class="calendar">
                                <input type="hidden" id="events_js" name="events_js" value="{{ events }}">
                                <div id="fullCalendar_js"
                                     data-planning='{{ professional.planningsIntDayList|raw }}'
                                     data-url="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"
                                ></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!--MODAL ADD PAYMENT METHOD-->
        <div class="add-event">
            <!-- Modal -->
            <div class="modal fade" id="paymentmethod" tabindex="-1" aria-labelledby="paymentmethodModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        {% if is_granted('ROLE_USER') %}
                            <form action="{{ path('paymentmethod_add_client') }}" method="post">
                                <!--HEADER-->
                                <div class="modal-header">
                                    <h5 class="modal-title" id="paymentmethodModalLabel">{% trans %}Add Your payment method{% endtrans %}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>

                                <!--BODY-->
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="cardNames" placeholder="DOE john">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="cardNumber" placeholder="4242424242424242">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="cardMonth" placeholder="12">
                                        <input class="form-control" type="text" name="cardYear" placeholder="24">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="cardCvc" placeholder="454">
                                    </div>
                                </div>
                                <!--BUTTONS-->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}
{% block javascripts %}
   {{ encore_entry_script_tags('fullCalendar') }}
{% endblock %}