<form method="post" action="{{ path('professional_event_delete', {'id': event.id }) }}"
      onsubmit="return confirm('Are you sure you want Delete this event?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete') }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
