{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">
        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-center text-primary">{% trans %}Welcome on your profile{% endtrans %}</h1>

        <div class="profile">
            <ul class="list-group">

                <div class="row">
                    <div class="col col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">{{ event.title }}</p>
                                <p>{% trans %}Date{% endtrans %} : {{ event.startAt | date("d-m-Y h:ia") }} - {{ event.endAt | date("d-m-Y h:ia") }}</p>
                                <p>{% trans %}Professional{% endtrans %} : {{ event.professional.name | upper}} {{ event.professional.lastname | capitalize }}</p>
                                <p>{% trans %}Client{% endtrans %} :
                                    {% if event.client %}
                                        {{ event.client.name | upper}} {{ event.client.lastname | capitalize }}
                                    {% else %}
                                        {% trans %}No Client found{% endtrans %}
                                    {% endif %}
                                </p>
                                <p class="card-title">{{ event.description }}</p>
                                <div class="d-flex flex-row">
                                    {% if not event.validatedAt %}
                                        <a href="{{ path('professional_event_validate', {'id': event.id }) }}" class="btn btn-primary">{% trans %}Validate{% endtrans %}</a>
                                    {% endif %}
                                    <a href="{{ path('professional_event_cancel', {'id': event.id }) }}" class="btn btn-warning">{% trans %}Cancel{% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </ul>
        </div>
    </div>
{% endblock %}
