{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">
        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-center text-primary">{% trans %}Welcome on your profile{% endtrans %}</h1>

        <div class="profile">
            <ul class="list-group">

                <div class="row">
                    <div class="col col-md-4">
                        <h2 class="text-center text-primary">{% trans %}Appointments{% endtrans %}</h2>
                        {% for event in events %}
                            {% if not event.isAborted and event.client %}
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-title">{{ event.description }}</p>
                                        <p>{% trans %}Date{% endtrans %} : {{ event.startAt | date("d-m-Y h:ia") }} - {{ event.endAt | date("d-m-Y h:ia") }}</p>
                                        <p>{% trans %}Professional{% endtrans %} : {{ event.professional.name | upper}} {{ event.professional.lastname | capitalize }}</p>
                                        <p>{% trans %}Client{% endtrans %} : {{ event.client.name | upper}} {{ event.client.lastname | capitalize }}</p>
                                        <div class="d-flex flex-row">
                                            <a href="{{ path('professional_event_details', {'id': event.id }) }}" class="btn btn-primary">{% trans %}View details{% endtrans %}</a>
                                            <a href="{{ path('professional_event_cancel', {'id': event.id }) }}" class="btn btn-warning">{% trans %}Cancel{% endtrans %}</a>
                                        </div>
                                    </div>
                                </div>
                            {% elseif event.isAborted and event.professional %}
                                <div class="card bg-warning">
                                    <div class="card-body">
                                        <p class="card-title">{{ event.description }}</p>
                                        <p>{% trans %}Date{% endtrans %} : {{ event.startAt | date("d-m-Y h:ia") }} - {{ event.endAt | date("d-m-Y h:ia") }}</p>
                                        <p>{% trans %}Professional{% endtrans %} : {{ event.professional.name | upper}} {{ event.professional.lastname | capitalize }}</p>
                                        <p>{% trans %}Details{% endtrans %} :
                                            {{ event.reason }}
                                        </p>
                                        <div class="d-flex flex-row">
                                            <a href="{{ path('professional_event_details', {'id': event.id }) }}" class="btn btn-primary">{% trans %}View details{% endtrans %}</a>
                                            <form action="{{ path('professional_event_restaure', {'id': event.id}) }}" method="post">
                                                <button type="submit" class="btn btn-outline-success">Restaure</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <p>{% trans %}No Event found.{% endtrans %}</p>
                        {% endfor %}
                    </div>

                    <div class="col col-md-8">
                        <input type="hidden" id="events_js" name="events_js" value="{{ eventsFC }}">
                        <div id="fullCalendar_js"
                             data-planning='{{ professional.planningsIntDayList|raw }}'
                        ></div>
                    </div>
                </div>
            </ul>

        </div>
    </div>

    <!--MODAL ADD EVENT-->
    <div class="add-event">
        <!-- Modal -->
        <div class="modal fade" id="appointment" tabindex="-1" aria-labelledby="appointmentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="form_js" action="" method="post">
                        <!--HEADER-->
                        <div class="modal-header">
                            <h5 class="modal-title" id="appointmentModalLabel">{% trans %}Having appointment{% endtrans %}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <!--BODY-->
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" id="title" name="title" placeholder="Très urgent">
                            </div>
                            <div class="input-group">
                                <input class="form-control" type="date" id="startAt" name="startAt">
                                <input class="form-control" type="time" id="startAtTime" name="startAtTime">
                            </div>
                            <div class="input-group">
                                <input class="form-control" type="date" id="endAt" name="endAt">
                                <input class="form-control" type="time" id="endAtTime" name="endAtTime">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="checkbox" id="isAborted" name="isAborted">
                            </div>
                            <div class="form-group">
                                <textarea name="description" id="description" cols="30" rows="4" placeholder="Description"></textarea>
                            </div>
                        </div>

                        <!--BUTTONS-->
                        <div class="modal-footer">
                            <form method="post" id="event_delete_js" action="{{ path('professional_event_delete', {'id':'-1'}) }}"
                                  onsubmit="return confirm('Are you sure you want Delete this Event?');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ professional.slug) }}">
                                <button class="btn btn-outline-danger" id="event_delete_btn_js" >{% trans %}Delete{% endtrans %}</button>
                            </form>

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans %}Close{% endtrans %}</button>
                            <button type="submit" class="btn btn-primary">{% trans %}Save{% endtrans %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('fullCalendar') }}
{% endblock %}
