<form method="post" action="{{ path('professional_holiday_delete', {'id': holiday.id}) }}"
      onsubmit="return confirm('Are you sure you want delete as holiday?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ holiday.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
