{% extends 'base.html.twig' %}

{% block title %}{% trans %}Subscription{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">

        <h1 class="text-center text-primary">{% trans %}Are you Professional, so subscribe now!{% endtrans %}</h1>
        <div class="profile">
            <ul class="list-group">
                <div class="row">
                    {% for plan in plans %}
                        <div class="col col-md-4 col-sm-6 col-12">
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title text-center">{{ plan.title }}</h5>
                                    <p><strong>{{ plan.price }}€/{{ plan.intervale.title|capitalize }}</strong></p>
                                    <p>{{ plan.description }}</p>
                                    <a href="{{ path('plan_payment_method', {'slug': plan.slug}) }}" class="btn btn-outline-primary">{% trans %}Subscribe now! {% endtrans %}</a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>No plan found</p>
                    {% endfor %}
                </div>
            </ul>
        </div>

    </div>

{% endblock %}
