<form method="post" action="{{ path('admin_delete') }}"
      onsubmit="return confirm('Are you sure you want Unsubscribe as Admin?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ admin.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
