{% extends 'base.html.twig' %}

{% block title %}{% trans %}Subscription{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">

        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-center text-primary">{% trans %}Are you Professional, so subscribe now!{% endtrans %}</h1>
        <div class="profile">

            <div class="col col-md-12">
                <a href="{{ path('professional_plan_new') }}" class="btn btn-outline-primary">Add</a>
            </div>

            <ul class="list-group">
                <div class="row">
                    <table class="table">
                        {% for plan in plans %}
                            <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Currency</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Created at</th>
                                    <th scope="col">Stripe id</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ plan.title }}</td>
                                    <td>{{ plan.price }}</td>
                                    <td>{{ plan.currency }}</td>
                                    <td>{{ plan.description }}</td>
                                    <td>{{ plan.createdAt|date("d-m-Y") }}</td>
                                    <td>{{ plan.subscriptionId }}</td>
                                    <td>
                                        <a href="{{ path('professional_plan_edit', {'slug': plan.slug}) }}"></a>
                                    </td>
                                </tr>
                            </tbody>
                        {% else %}
                    </table>
                        <p>No plan found</p>
                    {% endfor %}
                </div>
            </ul>
        </div>

    </div>

{% endblock %}
