{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">
        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-center text-primary">{% trans %}Welcome on your profile{% endtrans %}</h1>

        <div class="profile">
            <ul class="list-group">

                <div class="row">

                    <div class="col col-md-6">
                        <div class="login">
                            <h3 class="mt-6 mb-2">{% trans %}Login informations{% endtrans %}</h3>
                            <li class="list-group-item">Email : {{ admin.user.email }}</li>
                            <li class="list-group-item">Password : {{ admin.user.password | slice(0,10)~'...'  }}</li>

                            <div class="col col md-12">
                                <div class="row">
                                    <div class="col col-md-6">
                                        <a href="{{ path('admin_profile_edit')}}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                    </div>
                                    <div class="col col-md-6">
                                        {% include "admin/_delete.html.twig" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-md-6">

                        <!--PLANS-->
                        <div class="plans">
                            <h3 class="mt-5 mb-2">{% trans %}Plan informations{% endtrans %}<a href="{{ path('plan_admin_new') }}" class="btn btn-success">Add</a></h3>
                            <div class="row">
                                {% for plan in plans %}
                                   <div class="col col-md-6">
                                       <div class="card">
                                           <div class="card-body">
                                               <h5 class="card-title">{{ plan.title|capitalize }}</h5>
                                               <p class="card-text">{{ plan.price }}€/{{ plan.intervale }}</p>
                                               <p class="card-text">{{ plan.description }}</p>
                                               <a href="{{ path('plan_admin_edit', {'slug': plan.slug}) }}" class="btn btn-primary">Edit(TODO)</a>
                                               {% include "admin/plan/_delete.html.twig" %}
                                           </div>
                                       </div>
                                   </div>
                                {% endfor %}
                            </div>
                        </div>

                        <!--INTERVAL-->
                        <div class="interval">
                            <h3 class="mt-5 mb-2">{% trans %}Interval informations{% endtrans %}<a href="{{ path('admin_interval_new') }}" class="btn btn-success">Add</a></h3>
                            <div class="row">
                                {% for interval in intervals %}
                                    <div class="col col-md-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ interval.title|capitalize }}</h5>
                                                <a href="{{ path('admin_interval_edit', {'id': interval.id}) }}" class="btn btn-primary">Edit</a>
                                                {% include "admin/interval/_delete.html.twig" %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </ul>

        </div>
    </div>

{% endblock %}
