<form method="post" action="{{ path('professional_diploma_delete', {'id': diploma.id}) }}"
      onsubmit="return confirm('Are you sure you want delete as diploma?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diploma.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
