<h1>{% trans %}Hi! {% endtrans %} {{ professional.name }}, {% trans %} Congratulations{% endtrans %}</h1>
<div>
    <p>{% trans %}You have a new appointment. Check your appointments list to valide it, because this client is waiting for your validation.{% endtrans %}</p>
    <p>{% trans %}Great, see you soon!{% endtrans %}</p>
</div>