<h1>{% trans %}Hi! {% endtrans %} {{ professional.name }}.</h1>
<div>
    <p>{% trans %}You have a new appointment canceled. Check your appointments list to valide it.{% endtrans %}</p>
    <p>{% trans %}And you can restaure this event then it will be visible again.{% endtrans %}</p>
    <p>{% trans %}Great, see you soon!{% endtrans %}</p>
</div>