<h1>{% trans %}Hi! {% endtrans %} {{ client.name }}, {% trans %} Congratulations{% endtrans %}</h1>
<div>
    <p>{% trans %}Your event was accepted and confirmed. Check it in your appointments list to have more information{% endtrans %}</p>
    <p>{% trans %}Great, see you soon!{% endtrans %}</p>
</div>