<h1>{% trans %}Hi! {% endtrans %} {{ client.name }}.</h1>
<div>
    <p>{% trans %}Your appointment was canceled. We are very sorry for that.{% endtrans %}</p>
    <p>{% trans %}Go check you appointments list to know the reason of this annulation.{% endtrans %}</p>
    <p>{% trans %}Great, see you soon!{% endtrans %}</p>
</div>