<form method="post" action="{{ path('professional_planning_delete', {'slug': planning.slug }) }}"
      onsubmit="return confirm('Are you sure you want Unsubscribe as Planning?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planning.slug) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
