{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1 class="text-primary text-center mt-5 pt-5">
            {% if button == "Save" %}
                {% trans %}Edit Planning{% endtrans %}
            {% else %}
                {% trans %}Create a new Planning{% endtrans %}
            {% endif %}
        </h1>

        {{ form_start(form) }}
        <div class="row">
            <div class="col col-md-6">
                <div class="input-group">
                    {{ form_row(form.day) }}
                </div>

                <div class="input-group">
                    {{ form_row(form.startPmAt) }}
                    {{ form_row(form.endPmAt) }}
                </div>

                <div class="input-group">
                    {{ form_row(form.startAmAt) }}
                    {{ form_row(form.endAmAt) }}
                </div>

            </div>
            <div class="col col-12">
                <button type="submit" class="btn btn-success">{{ button }}</button>
                <a href="{{ path('professional_profile') }}" class="btn btn-secondary">{% trans %}Back to Profile{% endtrans %}</a>
            </div>
        </div>
        {{ form_end(form) }}

    </section>
{% endblock %}

{% block title %}
    {% if button == "Save" %}
        {% trans %}Edit Planning{% endtrans %}
    {% else %}
        {% trans %}Create a new Planning{% endtrans %}
    {% endif %}
{% endblock %}

