{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}

    <div class="container mt-5  pt-5">

        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <div class="row">
            <div class="col col-md-6">

                {% if calendars | length > 0 %}
                    {% for calendar in calendars %}
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">{{ calendar.summary }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('calendar_event', {'calendar_id': calendar.id }) }}" class="btn btn-primary">{% trans %}Add Events from this calendar {% endtrans %}</a>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>{% trans %}No calendar found{% endtrans %}</p>
                {% endif %}

            </div>
        </div>
    </div>

{% endblock %}
