<form method="post" action="{{ path('admin_interval_delete', {'id': interval.id }) }}"
      onsubmit="return confirm('Are you sure you want Unsubscribe as Interval?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ interval.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
