<form method="post" action="{{ path('user_remove_unsubscribe') }}"
      onsubmit="return confirm('Are you sure you want Unsubscribe as Client?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ client.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
