{% extends 'base.html.twig' %}

{% block body %}
<section class="container">
    <h1 class="text-primary text-center mt-5 pt-5">{% trans %}Edit Client informations{% endtrans %}</h1>

        {{ form_start(form) }}
            <div class="row">
                <div class="col col-md-6">
                        <h2>Personal information</h2>
                        {{ form_rest(form) }}
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-success">{% trans %}Save{% endtrans %}</button>
                    <a class="btn btn-outline-primary" href="{{ path('client_profile') }}">{% trans %}Back to profile{% endtrans %}</a>
                </div>
            </div>
    {{ form_end(form) }}

</section>
{% endblock %}

{% block title %}{% trans %}Edit Client informations{% endtrans %}{% endblock %}

