{% extends 'base.html.twig' %}

{% block title %}{% trans %}Profile{% endtrans %}{% endblock %}

{% block body %}

    <section class="container mt-5  pt-5">
        {% for flashError in app.flashes('error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
        {% for flashError in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ flashError }}</div>
        {% endfor %}

        <h1 class="text-center text-primary">{% trans %}Welcome on your profile{% endtrans %}</h1>

        <div class="profile">
            <ul class="list-group">
                <div class="row">

                    <div class="col col-md-6">

                        <div class="login">
                            <h3 class="mt-6 mb-2">{% trans %}Login informations{% endtrans %}</h3>
                            <li class="list-group-item">Email : {{ client.user.email }}</li>
                            <li class="list-group-item">Password : {{ client.user.password | slice(0,10)~'...'  }}</li>

                            <div class="col col md-12">
                                <a href="{{ path('user_edit') }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                <a href="{{ path('user_remove_unsubscribe') }}" class="btn btn-danger">{% trans %}Delete{% endtrans %}</a>
                            </div>
                        </div>

                        <div class="professional">
                            <h3 class="mt-5 mb-2">{% trans %}Personal informations{% endtrans %}</h3>
                            <li class="list-group-item">Name : {{ client.name }}</li>
                            <li class="list-group-item">Lastname : {{ client.lastname }}</li>
                            <li class="list-group-item">Born on : {{ client.birthday|date('d/m/Y') }}</li>
                            <li class="list-group-item">Sex : {% if client.sex == 0 %}Man {% else %}Woman{% endif %}</li>

                            <div class="contact">
                                <h3 class="mt-5 mb-2">{% trans %}Contact informations {% endtrans %}</h3>
                                <div class="mt-2 mb-2">
                                    <li class="list-group-item">Email : {{ client.phone }}</li>
                                    <li class="list-group-item">Site : {{ client.user.email }}</li>
                                </div>
                            </div>

                            <div class="col col md-12">
                                <a href="{{ path('client_profile_edit') }}" class="btn btn-primary">{% trans %}Edit{% endtrans %}</a>
                                {% include "client/_delete.html.twig" %}
                            </div>
                        </div>

                        <div class="payment_method">
                            <h3 class="mt-5 mb-2">{% trans %}Payment Method {% endtrans %}</h3>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                {% if client.paymentMethod %}
                                    {% trans %}Edit your Payment Method{% endtrans %}
                                {% else %}
                                    {% trans %}Add Payment Method{% endtrans %}
                                {% endif %}
                            </button>
                           {% if client.paymentMethod %}
                            {% set slug = client.paymentMethod.slug %}
                            {% include "paymentmethod/_delete.html.twig" %}
                               <div class="mt-2 mb-2">
                                   <li class="list-group-item">Names : {{ client.paymentMethod.cardNames }}</li>
                                   <li class="list-group-item">Code : *** {{ client.paymentMethod.cardNumber | slice(5,10) }} *** </li>
                                   <li class="list-group-item">Expired : {{ client.paymentMethod.cardMonth }}/{{ client.paymentMethod.cardYear }}</li>
                                   <li class="list-group-item">CVC : *** </li>
                               </div>
                           {% else%}
                               <p>{% trans %}You have to configure your payment method{% endtrans %}</p>
                           {% endif %}

                        </div>

                    </div>

                    <!--List of event-->
                    <div class="col col-md-6">
                        <h2>{% trans %}My events{% endtrans %}</h2>
                        <a href="{{ path('client_event_index') }}" class="btn btn-success">{% trans %}Appointment{% endtrans %}</a>
                        <div class="row p-3">
                            {% for event in client.events %}
                                <div class="col col-md-12">
                                    <div class="card text-white {% if not event.isAborted %}bg-success{% else %}bg-danger{% endif %}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ event.title }}</h5>
                                        <p class="card-text">
                                            {% trans %}On {% endtrans %} {{ event.startAt|date("d-m-Y h:ia") }} {% trans %} to {% endtrans %} {{ event.endAt|date("d-m-Y h:ia") }}
                                        </p>
                                        <p>
                                            {% trans %}With{% endtrans %}
                                            {% if event.professional %}
                                                {{ event.professional.name }}
                                            {% else %}
                                                Empty
                                            {% endif %}
                                        </p>
                                        <p>
                                            {% trans %}Status{% endtrans %}
                                            {% if not event.isAborted %}
                                                {% trans %} Activated{% endtrans %}
                                            {% else %}
                                                {% trans %} Deactivated{% endtrans %}
                                            {% endif %}
                                        </p>
                                        <div>
                                            <a href="{{ path('client_event_cancel', {'id': event.id }) }}" class="btn btn-primary">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="col col-md-12">
                                    <p>No event found</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                </div>
            </ul>

        </div>
    </section>

    <!--MODAL ADD EVENT-->
    <div class="add-event">
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {% if client.paymentMethod %}
                        <form action="{{ path('paymentmethod_edit_client', {'slug': client.paymentMethod.slug}) }}" method="post">
                    {% else %}
                        <form action="{{ path('paymentmethod_add_client') }}" method="post">
                    {% endif %}
                        <!--HEADER-->
                        <div class="modal-header">
                            {% if client.paymentMethod %}
                                <h5 class="modal-title" id="exampleModalLabel">{% trans %}Edit your payment method{% endtrans %}</h5>
                            {% else %}
                                <h5 class="modal-title" id="exampleModalLabel">{% trans %}Add Your payment method{% endtrans %}</h5>
                            {% endif %}
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!--BODY-->
                        <div class="modal-body">
                            <div class="form-group">
                                <input class="form-control" type="text" name="cardNames" placeholder="DOE john" value="{% if client.paymentMethod %}{{ client.paymentMethod.cardNames }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="cardNumber" placeholder="4242424242424242" value="{% if client.paymentMethod %}{{ client.paymentMethod.cardNumber }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="cardMonth" placeholder="12" value="{% if client.paymentMethod %}{{ client.paymentMethod.cardMonth }}{% endif %}">
                                <input class="form-control" type="text" name="cardYear" placeholder="24" value="{% if client.paymentMethod %}{{ client.paymentMethod.cardYear }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="cardCvc" placeholder="454" value="{% if client.paymentMethod %}{{ client.paymentMethod.cardCvc }}{% endif %}">
                            </div>
                        </div>
                        <!--BUTTONS-->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Get it</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
