<form method="post" action="{{ path('paymentmethod_delete', {'slug': slug}) }}"
      onsubmit="return confirm('Are you sure you want Unsubscribe as Professional?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slug) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
