<form method="post" action="{{ path('contact_delete', {'slug': contact.slug}) }}"
      onsubmit="return confirm('Are you sure you want delete as contact?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact.slug) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
