<h1>{% trans %}Hi! {% endtrans %} {{ professional.name }},</h1>
<div>
    <p>{% trans %}We come to inform you that your plan where deleted for some reason. And, you where switched into the default plan.{% endtrans %}</p>
    <p>{% trans %}We invite you to go change your plan. You will find a new substituted plan on the plans list.{% endtrans %}</p>
    <p>{% trans %}Great, see you soon!{% endtrans %}</p>
</div>