<form method="post" action="{{ path('professional_Experience_delete', {'slug': experience.slug}) }}"
      onsubmit="return confirm('Are you sure you want delete as experience?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ experience.slug) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
