{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1 class="text-primary text-center mt-5 pt-5">
            {% trans %}Edit User{% endtrans %}
        </h1>

        {{ form_start(form) }}
        <div class="row">
            {% for flashError in app.flashes('error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <div class="col col-md-6">
                {{ form_rest(form) }}
            </div>
            <div class="col col-12">
                <button type="submit" class="btn btn-success">Edit</button>
                <a href="{{ path('client_profile') }}" class="btn btn-secondary">{% trans %}Back to Profile{% endtrans %}</a>
            </div>
        </div>
        {{ form_end(form) }}

    </section>
{% endblock %}

{% block title %}
    {% trans %}Edit User{% endtrans %}
{% endblock %}

