<form method="post" action="{{ path('plan_delete', {'id': plan.id }) }}"
      onsubmit="return confirm('Are you sure you want Unsubscribe as Plan?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plan.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
