<form method="post" action="{{ path('address_delete', {'id': address.id}) }}"
      onsubmit="return confirm('Are you sure you want to delete this address?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
    <input type="hidden" name="_method" value="delete">
    <button class="btn btn-outline-danger">{% trans %}Delete{% endtrans %}</button>
</form>
