{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
        <h1 class="text-primary text-center mt-5 pt-5">{% trans %}Edit Address{% endtrans %}</h1>

        {{ form_start(form) }}
            <div class="row">
                <div class="col col-md-6">
                    {{ form_rest(form) }}
                </div>
                <div class="col col-12">
                    <button type="submit" class="btn btn-success">{{ button }}</button>
                    <a href="{{ path('professional_profile') }}" class="btn btn-secondary">{% trans %}Back to Profile{% endtrans %}</a>
                </div>
            </div>
        {{ form_end(form) }}

    </section>
{% endblock %}

{% block title %}{% trans %}Edit Professional informations{% endtrans %}{% endblock %}

